.me {
  border: none;
  background-color: rgb(165, 26, 165);
  padding: 14px 28px;
  cursor: pointer;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  position: absolute;
  top: 350px;
  left: 650px;
}

.me:hover {
  background: rgb(230, 148, 230);
}
